<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Programación</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

<nav>

<h1>Programación</h1>

<ul>
<li><a href="/dashboard">Inicio</a></li>
<li><a href="/logout">Cerrar Sesión</a></li>
</ul>

</nav>

<div class="container">

<div class="card">

<h2>Tecnologías Aprendidas</h2>

<ul>
<li>Python</li>
<li>Flask</li>
<li>HTML</li>
<li>CSS</li>
<li>JavaScript</li>
<li>Bootstrap</li>
<li>MongoDB</li>
<li>JSON</li>
</ul>

</div>

</div>

</body>
</html>