<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Soporte</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

<nav>

<h1>Soporte Técnico</h1>

<ul>
<li><a href="/dashboard">Inicio</a></li>
<li><a href="/logout">Cerrar Sesión</a></li>
</ul>

</nav>

<div class="container">

<div class="card">

<h2>Experiencia en Redes</h2>

<ul>
<li>Cableado UTP</li>
<li>Conexión de redes</li>
<li>Diagnóstico básico</li>
<li>Topologías</li>
<li>Curso Técnico de Redes</li>
</ul>

</div>

</div>

</body>
</html>